.banner-image{
    background-image: url("https://t4.ftcdn.net/jpg/02/79/74/91/360_F_279749144_wQUWtNbxuaq9Ojm51vs1APn3PAsdFGO1.jpg");
    background-color: rgb(53, 151, 243);
}

.paginationBox {
    display: flex;
    justify-content: center;
    padding: 6vmax;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .page-item {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
  }
  .page-item:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  .page-item:last-child {
    border-radius: 0 5px 5px 0;
  }
  .page-link {
    text-decoration: none;
    color: rgb(80, 80, 80);
    transition: all 0.3s;
  }
  
  .page-item:hover {
    background-color: rgb(230, 230, 230);
  }
  
  .page-item:hover .page-link {
    color: rgb(0, 0, 0);
  }
  
  .pageItemActive {
    background-color: darkblue;
  }
  
  .pageLinkActive {
    color: white;
  }
  